<%- include('partials/_header')%>
   <div class="container bg-light">
      <div class="row">
  
<!--canvas-->


  <!---------------------------------->
  <!-- Button trigger modal -->
<div class="float-start">
  <a class="fs-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="lni lni-circle-plus"></i>
  </a>
</div>
  <!-- ventana Modal para la realizacion de la Nota-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title text-white" id="exampleModalLabel">Nota</h5>
          
          <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
                <form action="/add" method="POST">
                    <div class="form-group mb-3">
                        <input type="text" name="title" placeholder="Titulo de la nota" class="form-control" required>
                    </div> 
                    <div class="form-group mb-3">                            
                       <textarea type="text" name="description" placeholder="Nota..." class="form-control" cols="500" required></textarea>
                    </div>  
                   <div class="form-group mb-3">
                        <p class="fs-4">Importancia de la tarea</p>
                        <input type="radio" name="color" value="Baja">Baja
                        <br>
                        <input type="radio" name="color" value="Media" checked>Media
                        <br>
                        <input type="radio" name="color" value="Alta">Alta
                    </div>
                    <div class="form-group mb-3" >
                        <input class="form-control" type="date" name="fechadeinicio">
                    </div>

                  <div class="form-group mb-3 d-grid gap-2 col-6 mx-auto">
                      <button type="submit" class="btn btn-outline-success">Guardar</button>
                 </div>                                           
                </form>

        </div>
        
      </div>
    </div>
  </div>
  <div class="text-dark fs-1"><p>Tareas por realizar <i class="lni lni-sad fs-2"></i></p></div>
       
  
  <!-- Visualizacion de las notas -->
        <div class="row row-cols-lg-auto g-3 align-items-center">
            <table class="table table-bordered border-primary ">
                <tbody>
                    <% for(var i=0; i < tasks.length; i++) {%>
                    <p><%= %></p> 
                    
                    
                    <% if(tasks[i].color == "Baja" && tasks[i].status==false){%>
                    <div class="card text-dark p-0" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" style="max-width: 15rem; min-width: 15rem;">
                        <div class="card-header text-dark">
                            <h5 class="card-title float-start p-1"><%= tasks[i].title %></h5>
                            <div class="card-title float-end fs-5 p-1">

                                <%if(tasks[i].status == false){%>
                                    <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-sad"></i></a>
                                <%}else if(tasks[i].status == true){%> 
                                    <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-happy"></i></a>
                                <%}%>
                                

                                <a href="/delete/<%= tasks[i]._id %>" class="text-dark"><i class="lni lni-trash-can"></i></a>
                                
                                <a href="/edit/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-pencil"></i></a>
                                <i class="lni lni-stop bg-success text-dark"></i>

                            </div>
                            
                        </div>
                        <div class="card-body bg-light">
                          
                          <p class="card-text"><%= tasks[i].description %></p>
                        </div>

                        <div class="card-footer">
                          <p class="card-text"><small class="text-muted">Fecha de inicio: <%= tasks[i].fechadeinicio %></small></p>
                          <p class="card-text"><small class="text-muted">Fecha de creación: <%= tasks[i]._date %></small></p>
                        </div>
                      </div>
                    <%}else if(tasks[i].color == "Media" && tasks[i].status == false){%>
                        <div class="card text-dark p-0" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" style="max-width: 15rem; min-width: 15rem;">
                            <div class="card-header text-dark">
                                <h5 class="card-title float-start p-1"><%= tasks[i].title %>   </h5>
                                <div class="card-title float-end fs-5 p-1">

                                    <%if(tasks[i].status == false){%>
                                        <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-sad"></i></a>
                                    <%}else if(tasks[i].status == true){%> 
                                        <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-happy"></i></a>
                                    <%}%>
                                    

                                    <a href="/delete/<%= tasks[i]._id %>" class="text-dark"><i class="lni lni-trash-can"></i></a>
                                    
                                    <a href="/edit/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-pencil"></i></a>
                                    <i class="lni lni-stop bg-warning text-dark"></i>

                                </div>
                                
                            </div>
                            <div class="card-body bg-light">
                              
                              <p class="card-text"><%= tasks[i].description %></p>
                            </div>

                            <div class="card-footer">
                              <p class="card-text"><small class="text-muted"><%= tasks[i].fechadeinicio %></small></p>
                      
                            </div>
                          </div>
                    <%}else if(tasks[i].color == "Alta" && tasks[i].status == false){%>
                        <div class="card text-dark p-0" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" style="max-width: 15rem; min-width: 15rem;">
                            <div class="card-header text-dark">
                                <h5 class="card-title float-start p-1"><%= tasks[i].title %>   </h5>
                                <div class="card-title float-end fs-5 p-1">

                                    <%if(tasks[i].status == false){%>
                                        <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-sad"></i></a>
                                    <%}else if(tasks[i].status == true){%> 
                                        <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-happy"></i></a>
                                    <%}%>
                                    

                                    <a href="/delete/<%= tasks[i]._id %>" class="text-dark"><i class="lni lni-trash-can"></i></a>
                                    
                                    <a href="/edit/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-pencil"></i></a>
                                    <i class="lni lni-stop bg-danger text-dark"></i>

                                </div>
                                
                            </div>
                            <div class="card-body bg-light">
                              
                              <p class="card-text"><%= tasks[i].description %></p>
                            </div>

                            <div class="card-footer">
                              <p class="card-text"><small class="text-muted"><%= tasks[i].fechadeinicio %></small></p>
                      
                            </div>
                          </div>
                    <%}%>
                        
                    <%}%>
                </tbody>

                  </table>
        </div> 

<hr class="p-1 g-5 bg-warning" style="width:100%", size="3">  

<div class="text-dark fs-1"><p>Tareas realizadas <i class="lni lni-happy fs-2"></i></p></div>
        <div class="row row-cols-lg-auto g-3 align-items-center">
          <table class="table table-bordered border-primary ">
              <tbody>
                  <% for(var i=0; i < tasks.length; i++) {%>
                  <p><%= %></p> 
                  
                  
                  <% if(tasks[i].color == "Baja" && tasks[i].status==true){%>
                  <div class="card text-dark p-0" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" style="max-width: 15rem; min-width: 15rem;">
                      <div class="card-header text-dark">
                          <h5 class="card-title float-start p-1"><%= tasks[i].title %></h5>
                          <div class="card-title float-end fs-5 p-1">

                              <%if(tasks[i].status == false){%>
                                  <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-sad"></i></a>
                              <%}else if(tasks[i].status == true){%> 
                                  <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-happy"></i></a>
                              <%}%>
                              
  
                              <a href="/delete/<%= tasks[i]._id %>" class="text-dark"><i class="lni lni-trash-can"></i></a>
                              
                              <a href="/edit/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-pencil"></i></a>
                              <i class="lni lni-stop bg-success text-dark"></i>

                          </div>
                          
                      </div>
                      <div class="card-body bg-light">
                        
                        <p class="card-text"><%= tasks[i].description %></p>
                      </div>

                      <div class="card-footer">
                        <p class="card-text"><small class="text-muted"><%= tasks[i].fechadeinicio %></small></p>
                
                      </div>
                    </div>
                  <%}else if(tasks[i].color == "Media"  && tasks[i].status==true){%>
                      <div class="card text-dark p-0" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" style="max-width: 15rem; min-width: 15rem;">
                          <div class="card-header text-dark">
                              <h5 class="card-title float-start p-1"><%= tasks[i].title %>   </h5>
                              <div class="card-title float-end fs-5 p-1">
  
                                  <%if(tasks[i].status == false){%>
                                      <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-sad"></i></a>
                                  <%}else if(tasks[i].status == true){%> 
                                      <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-happy"></i></a>
                                  <%}%>
                                  
      
                                  <a href="/delete/<%= tasks[i]._id %>" class="text-dark"><i class="lni lni-trash-can"></i></a>
                                  
                                  <a href="/edit/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-pencil"></i></a>
                                  <i class="lni lni-stop bg-warning text-dark"></i>
  
                              </div>
                              
                          </div>
                          <div class="card-body bg-light">
                            
                            <p class="card-text"><%= tasks[i].description %></p>
                          </div>

                          <div class="card-footer">
                            <p class="card-text"><small class="text-muted"><%= tasks[i].fechadeinicio %></small></p>
                    
                          </div>
                        </div>
                  <%}else if(tasks[i].color == "Alta"  && tasks[i].status==true){%>
                      <div class="card text-dark p-0" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" style="max-width: 15rem; min-width: 15rem;">
                          <div class="card-header text-dark">
                              <h5 class="card-title float-start p-1"><%= tasks[i].title %>   </h5>
                              <div class="card-title float-end fs-5 p-1">
  
                                  <%if(tasks[i].status == false){%>
                                      <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-sad"></i></a>
                                  <%}else if(tasks[i].status == true){%> 
                                      <a href="/turn/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-happy"></i></a>
                                  <%}%>
                                  
      
                                  <a href="/delete/<%= tasks[i]._id %>" class="text-dark"><i class="lni lni-trash-can"></i></a>
                                  
                                  <a href="/edit/<%= tasks[i]._id%>" class="text-dark"><i class="lni lni-pencil"></i></a>
                                  <i class="lni lni-stop bg-danger text-dark"></i>
  
                              </div>
                              
                          </div>
                          <div class="card-body bg-light">
                            
                            <p class="card-text"><%= tasks[i].description %></p>
                          </div>

                          <div class="card-footer">
                            <p class="card-text"><small class="text-muted"><%= tasks[i].fechadeinicio %></small></p>
                    
                          </div>
                        </div>
                  <%}%>
      
                  <%}%>



              </tbody>
          </table>
        </div>


</div>
</div>

<%- include('partials/_footer')%>
