<%- include('partials/_header')%>
   <div class="container">
      <div class="row">
        <!--Formulario-->

  
       
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Nueva nota</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="col-md-5">
        <div class="card">
            <div class="card-doby">
                <form action="/add" method="POST">
                    <div class="form-group mb-3">
                        <input type="text" name="title" placeholder="Inserta un titulo" class="form-control">
                    </div> 
                    <div class="form-group mb-3">                            
                        <textarea type="text" name="description" placeholder="Inserta una descripcion" class="form-control" cols="50" ></textarea>
                        
                    </div>  
                    <div class="form-group mb-3 d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-outline-success">Guardar</button>
                    </div>                                           
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          
          
           


       
        <!--Tabla-->
        <div class="col-md-7">
            <table class="table table-bordered border-primary ">
               <tbody>
                   <% for(var i=0; i < tasks.length; i++) {%>
                   <p><%= i+1%></p> 
                        
                    <div class="row">
                         <div class="col s12 m6">
                             <div class="card blue-grey darken-1">
                             <div class="card-content white-text">
                                  <span class="card-title"><%= tasks[i].title %></span>
                                <p><%= tasks[i].description %></p>
                                 </div>
                                <div class="card-action">
                                    <a href="/turn/<%= tasks[i]._id%>"
                                        class="btn <%= tasks[i].status ? 'btn-success btn-sm':'btn-warning btn-sm'%> ">Hecho</a>
                                   <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger btn-sm">Eliminar</a>
                                   <a href="/edit/<%= tasks[i]._id%>" class="btn btn-info btn-sm">Editar</a>
                                    </div>
                                 
                               </div>
                               
                        </div>
                
                    </div>
                       
                     
                    <%}%>
               </tbody>
            </table>
        </div>
      </div>
   </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>

<%- include('partials/_footer')%>
